@charset "utf-8";
/* CSS Document */

	body{margin:0;font-size:14px;
	  -webkit-user-select: none;

	}
	body *{
		-webkit-user-select: none;
		font-family: "Microsoft YaHei";

	}

	h1,h2,h3,h4,h5,h6{
		margin:0;font-weight:normal;
		font-size:14px;
	}
	ul,ol{
		margin:0;padding:0;
		list-style:none;
	}
	dl,dd,p{
		margin:0;
	}
	a{  
		text-decoration:none;
		color:#333;
		-webkit-tap-highlight-color:rgba(0,0,0,0)
	}
	b,strong{
		font-weight:normal;
	}
	em,i{
		font-style:normal;
	}
	img{ 
		vertical-align:middle;
	}
    a:hover,.on{
		color: #ff342e;
	}
	/**,
	::before,
	::after{
		margin: 0;
		padding:0;
	    -webkit-box-sizing: border-box;
		box-sizing: border-box;
	}*/

    .fl{
		float:left;
	}
	.fr{
	   float: right;
	}
	.clearfix{*zoom:1;}
	.clearfix:after{content:""; clear:both; display:block;}

    table{ 
		border-spacing:0;
		border-collapse:collapse;
	}
	th,td{
		padding:0;
		font-weight:normal;
		text-align:left;
		vertical-align:top;
		}
	a, input,button{
		margin:0;
		padding:0;
		border:none;
		background:none;
		font-size:14px;
	 -webkit-appearance: none;
		border-radius: 0;
	}
	textarea{ 
		resize:none;
		 overflow:auto;
		}
   
